body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden !important;
  }
  html{
    scroll-behavior: smooth;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
/* webnav start */
.webnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-color: none !important;
    padding: 0% 4%;
    position: relative;
    z-index: 10 !important;
    width: 100%;
}

.webnavul {
    display: flex;
    align-items: center;
    margin: 0%;
}

.webnav li{
    list-style: none;
    margin-left: 2em;
    font-weight: 500;
    letter-spacing: 2px;
}
.webnav a {
    transition: 0.3s;
}
.webnav a:hover {
    color: #ff9800 !important;
}

.webnavul a {
    color: #fff;
    text-decoration: none;
}

/* resp nav start */
.respnav {
    height: 100vh;
    width: 100%;
    background-color: #111;
    z-index: 999;
    position: fixed;
    top: 0%;
    right: -100%;
}

.resp-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
    height: 6em;
}

.respul {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    align-items: start;
    font-size: 1.5rem;
    text-align: left;
    padding: 0%;
    margin: 0%;
}

.respul {
    color: #fff !important;
    text-decoration: none;
}
.respnav li{
    list-style: none;
    margin-left: 2em;
    font-weight: 500;
    letter-spacing: 2px;
}
.respnav a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.respnav a:hover {
    color: #ff9800 !important;
}

/* menu section start */
.menu {
    cursor: pointer;
    display: none;
}

/* media query for resp */
@media(max-width:768px) {
    .webnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 6em; */
        background-color: none !important;
        padding: 0% 6%;
    }

    .menu {
        height: 3.2em;
        width: 3.2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .webnav ul {
        display: none;
    }
    #detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #swimmming{
        font-size: 3.5rem !important;
        margin-bottom: 0.5em !important;
         }
         .dropdown-menu{
            height: 15em;
            width: 15em;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .dropdown-menu::-webkit-scrollbar {
            width: 5px;
        }
        
        /* Handle */
        .dropdown-menu::-webkit-scrollbar-thumb {
            background: #ff9800;
            border-radius: 45px;
        } 
}

@media(min-width:770px) {
    .respul {
        display: none;
    }

    .respnav {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0%;
        display: none;
    }
}
  
  #first{
      display: flex;
      /* background-image: url(./pexels-cottonbro-studio-7337605.jpg); */
      background-size: cover;
      flex-direction: column;
      justify-content: center;
      position: relative;
      /* margin: 0% auto; */
      /* padding: 4% 0%; */
      align-items: center;
      /* height: fit-content; */
      width: 100% !important;
  }
  #overlay{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    /* filter: blur(4px) !important; */
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 0.6;
  }
  h1{
    font-weight: bold;
    font-size: larger;
  }
  h1,h2,p > #first{
    position: relative;
    z-index: 4 !important;
  }
  h2{
    font-weight: bold;
  }

  #detail{
      height:max-content;
      /* background-color: gray; */
      width: 100%;
      display: flex;
      color: white;
      position: relative;
      z-index: 3;
      flex-direction: column;
      justify-content: center;
      
  }
  col{
    display: flex !important;
    justify-content: center !important;
  }
  #detail li{
    list-style: none;
  }
  span{
      color: #ff9800;
  }
  .btn-change{
    color: white !important;
    background-color: #ff8900 !important;
    border: none;
    box-shadow: none;
    border-radius: 9px;
    height: 2em;
    width: 7em;
  }
  .btn-change:hover{
    background-color: #ff8800b1 !important;
  }
  #second{
      display: flex;
      border-top: 0.4em solid gray;
      width: 100% !important;
      position: relative;
      height: fit-content;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2em;
  }
  #second h2{
      font-size: 3rem;
      align-items: center;
      text-align: center;
      margin: 0% auto;
      margin-bottom: 1em;
      margin-top: 0.5em;
  }
  #top-player h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0%;
  }
  /* Add this CSS to your stylesheet */
  /* Override Bootstrap styles for accordion button focus and active state */
/* Override Bootstrap styles for accordion button focus and active state */
.btn:focus,
.btn:active,
.btn:not(.collapsed) {
background-color: transparent;
box-shadow: none;
color: #000; /* Set the desired text color when focused, active, or open */
}
#acordianouter{
/* margin: 0% auto; */
padding: 2% 4%;
align-items: center;
align-content: center;
border-bottom: 0.4em solid gray;
}
.card h2{
    font-size: 2.4rem !important;
    margin: 0% !important;
    color: #ff8900 !important;
    font-weight: bold !important;
    font-style: italic !important;
}
/* grid modals */
.modal-section {
    position: fixed;
    top : -500%;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#blurbg{
    position: fixed;
    top : -500%;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
    /* background-color: rgba(0, 0, 0, 0.647); */
    background-color: #ffffff3a;
}
.modal-outer {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    height: 28em;
    width: 45em;
    background-color: #111;
    gap: 2em;
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 0px 50px 2px #11111197;
}

.modal-img img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0% 2%;
}

.modal-content h2 {
    color: #ff9800;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

.modal-content p {
    color: #fff;
    font-weight: normal;
}

.modal-content button {
    height: 2.5em;
    width: 8em;
    border: 2px solid #ff9800;
    font-weight: bold;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
}
@media(max-width:800px) {
    .modal-section {
        position: fixed;
        top : -500%;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .modal-outer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;
        align-items: center;
        height: 29em;
        width: 25em;
        background-color: #111;
        gap: 2em;
        position: relative;
        border-radius: 16px;
        padding: 3% 0%;
        overflow-y: scroll;
    box-shadow: 0px 0px 50px 2px #11111197;
    }
    .modal-outer::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Handle */
    .modal-outer::-webkit-scrollbar-thumb {
        background: #ff9800;
        border-radius: 45px;
    } 

    .modal-img img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 250px;
        width: 200px;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0% 2%;
    }

    .modal-content h2 {
        margin: 0%;
    }
}
@media(max-width:440px) {
    .modal-section {
        position: fixed;
        top : -500%;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .modal-outer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;
        align-items: center;
        height: 29em;
        width: 22em;
        background-color: #111;
        gap: 2em;
        position: relative;
        border-radius: 16px;
        padding: 4% 0%;
        overflow-y: scroll;
    box-shadow: 0px 0px 50px 2px #11111197;
    }
    .modal-outer::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Handle */
    .modal-outer::-webkit-scrollbar-thumb {
        background: #ff9800;
        border-radius: 45px;
    } 

    .modal-img img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 250px;
        width: 200px;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0% 2%;
    }

    .modal-content h2 {
        margin: 0%;
    }
}

@media(max-width:380px) {
    .modal-section {
        position: fixed;
        top : -500%;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .modal-outer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;
        align-items: center;
        height: 29em;
        width: 18em;
        background-color: #111;
        gap: 2em;
        position: relative;
        border-radius: 16px;
        padding: 4% 0%;
        overflow-y: scroll;
    box-shadow: 0px 0px 50px 2px #11111197;
    }
    .modal-outer::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Handle */
    .modal-outer::-webkit-scrollbar-thumb {
        background: #ff9800;
        border-radius: 45px;
    } 

    .modal-img img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 250px;
        width: 200px;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0% 2%;
    }

    .modal-content h2 {
        margin: 0%;
    }
}
.basketballtopplayer{
    display: flex;
    justify-content: center;
} 
#top-player p{
font-weight: normal;
}
@media (max-width:1024px) {
    #top-player{
        width: 100vw !important;
        align-items: center !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center !important;
         text-align:  center !important;
         margin: 0% auto !important;
    }
    .container{
        width: 100%;
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        margin: 0% auto !important;
        align-content: center !important;  
        padding:0% 10% !important;
    }
}

@media (max-width:980px) {
    .outermodal{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .container{
        width: 100%;
        padding: 0%;
    }
    #top-player{
        width: 100vw !important;

}
#first{
    display: flex;
    background-image: url(./asset/pexels-andrea-piacquadio-3764203.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0% auto;
    /* padding: 20% 0%; */
    align-items: center;
}
}
@media (max-width:400px) {
    #logo{
        height: 70px;
        width: auto;
     }
     #swimmming{
    font-size: 3.5rem !important;
    margin-bottom: 0.5em !important;
     }
#heading h1{
    font-size: 3rem !important;
}
#second h2{
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
}
    #first{
        /* padding: 25% 0% !important; */
            display: flex;
            background-image: url(./asset/pexels-wallace-chuck-2834917.jpg);
            background-size: cover;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin: 0% auto;
            /* padding: 8% 0%; */
            align-items: center;
        
      
    }
    #top-player{
        width: 100vw !important;
    }
    .card{
        width: 10rem;
    }
    } 





/* sports pages button */
.sports-btn{
    height: 2.5em;
    width: 8em;
    border: 2px solid #ff9800;
    font-weight: bold;
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
}
    /* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff9800;
    border-radius: 45px;
}

/* up arrow */
#up{
    height: 4em;
    width: 4em;
    background-color: #111;
    box-shadow: 0px 0px 30px 2px #11111197;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    position: fixed;
    bottom: 6%;
    right: 2%;
    z-index: 999 !important;
  }
  #up i{
    font-size: 2.3rem;
    color: #fff;
    animation: arrow 1s infinite; 
  }
  @keyframes arrow{
     50%{
      transform: translateY(8px);
     }
  }
