body{
    /* height: 100% ; */
    overflow-x: hidden !important;
    background-color: #1e1e1e !important;
}
#logo{
    background-image: url(./asset/Sportsinfo\ 12-01\ \(1\).png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 11em !important;
    height: 5em !important;
}
/* hamburger menu start */
#outerham{
    width: 3em;
    height: 2.5em;
    justify-content: center;
    background-color: #ff9800;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.innerham{
    width: 2em;
    border-radius: 45px;
    align-items: center;
    background-color: white;
    margin: 0.2em;
    height: 0.2em;
}
#rotate{
    width: 2em;
    border-radius: 45px;
    align-items: center;
    background-color: white;
    transition: 0.53s;
    margin: 0.2em;
    height: 0.2em;
}
.hamrotate{
    transition: 0.3s ;
    transform: rotate(-45deg);
}

/* hamburger menu end */
/* responsvie menu start */
#resp{
    background-color:black;
    opacity: 0.8;
    width: 100% !important;
    position: fixed;
    top: 0% !important;
    bottom: 0%;
    right: 0% !important;
    cursor: pointer;
    text-align: center;
    padding: 0% 0% !important;
    margin: 0% !important; 
    border-radius: 9px;
    align-items: center;
    display: none;
    z-index: 3;
    align-content: center;
    margin: 0% auto;
    flex-direction: column;
    justify-content: center;
    height: 100vh ;

}
.dropdown-menu{
    background-color: #000000 !important;
}
#resp-ul1{
    display: flex;
    padding: 0% 0% !important;
    height: 100%;
    width: fit-content;
    /* background-color: #ff8900; */
    flex-direction: column !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    margin: 0% auto !important;
    text-align: center !important;
    align-self: center !important;
}
#resp li{
    margin-top: 2em;
    margin-left: 0% !important;
    list-style: none;
    font-size: larger;
    align-items: center;
    /* background-color: aqua; */
    align-self: center;
    text-align: center;
    width:max-content !important;
}
/* responsvie menu end */
/* navbar */
nav{
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    align-items: center !important;
    cursor: pointer;
    position: fixed !important;
    z-index: 999;
    background-color: none;
    /* background: rgba( 0, 0, 0, 0.3 ); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    padding: 1% 7% !important;
}
/* cursor mover */
#cursor{
    width: 1em;
    height: 1em;
    position: relative;
    z-index: 99999;
    background-color: #ff9800;
    border-radius: 45px;
}
/* cursor mover */
/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  transition: 0.5s;
}
::-webkit-scrollbar:hover {
    width: 9px;
}


/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff8900;
  border-radius: 45px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8800b3;
}
/* custom scrollbar */


nav ul{
    display: flex;

}
nav li{
    margin-right: 1em !important;
    list-style: none;
}
a:hover{
    color: #ff9800 !important ;
}
a{
    list-style: none !important;
    text-decoration: none !important;
    margin-left: 1em !important;
    color: white !important;
    border: none !important;

    color: white !important;
}
/* navbar */
/* hero section */
#hero{
    background-image: url(./asset/e-project\ asset1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100vh;
    z-index: -1;
    top: 0%;
    border-bottom: 0.4em solid black;
}

.basketballtopplayer{
    display: flex;
    justify-content: center;
}
/* #hero::after{
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index:-1;
} */
#overlay{
    width: 100%;
    height: 100vh;
    margin: 0%;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: -1;
    background-color:black;
    opacity: 0.7;
    padding: 0%;
}
h1{
    color:#ff9800 !important;
    font-size: 4rem !important ;
    font-weight: 900 !important;
    /* animation: 0.2s ease-in alpha !important  ; */
}
#spanone{
    animation: 2s alpha; 
}
#spantwo{
    animation: 3s alpha; 

}
#spanthree{
    animation: 4s alpha; 

}
@keyframes alpha{
    0%{
        opacity: 0;
        color: #ff9800;
    }
    25%{
        /* opacity: 0.3; */
        color: #c7903c;
    }
    50%{
        /* opacity: 0.5; */
        color: #7e5d2b;

    }
    75%{
        /* opacity: 0.9; */
        color: #bdb9b3;

    }
    100%{
        opacity: 1;
        color: white;
    }
}



/* hero section */
/* second section */
#second-section{
    /* background-color: #343a40; */
    width: 100%;
    height: fit-content;
    align-items: center;
    border-bottom: 0.4em solid gray;
    text-align: center;
    padding: 1%;
}
#second-section h2{
    font-size: 3.5rem;
    margin: 0.5em;
}
#second-section input{
    align-items: center !important;
    border: 2px solid #1e1e1e;
    margin-right: 1em !important;
    margin: 0%auto !important;
    align-items: center !important;
    border-radius: 9px !important;
    border: 2px solid #1e1e1e;
}
#second-section input:focus{
    box-shadow: none;
    border:  2px solid black;
}

.input-group{
    width: 40em !important;
    align-items: center;
    margin: 0% auto;

}
::placeholder{
    color: white !important;
}
button{
    border: 2px solid #1e1e1e !important;
    background-color: #ff9800 !important;
    border-radius: 9px !important;
    margin-left: 0.5em;
    transition: 0.5s;
}
button:hover{
    background-color: #b97103de !important; 
}
/* grids of second section start */
.cardprod{
    cursor: pointer;
}
#cardprod1{
    background-image: url(./asset/pexels-wallace-chuck-2834917.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px black;
    /* box-shadow: 0px 0px 1px 1px black ; */
    overflow: hidden;
    transition: 0.8s;
}
.cardprod:hover .overlay-grid{
     
    position: absolute;
    top: 0%;

}

.overlay-grid{
    width: 100%;
    height: 100%;    
    box-shadow: 0px 0px 2px 2px black;
    background-color: black;
    display: block;
    /* display: none; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 40% 0%;
    position: absolute;
    opacity: 0.8;
    transition: 0.7s;
    border-radius: 20px;
    top:-100%

}

#cardprod2{
    background-image: url(./asset/pexels-yogendra-singh-4747325.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}
/* .overlay-grid{
    width: 100%;
    height: 0%;    
    box-shadow: 0px 0px 2px 2px black;
    background-color: black;
    display: none;
    /* display: none; */
    /* flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 40% 0%;
    position: absolute;
    opacity: 0.8;
    border-radius: 20px;
}    */ 
#cardprod3{
    background-image: url(./asset/pexels-unknown-user-1657328.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}   
#cardprod4{
    background-image: url(./asset/pexels-arthur-brognoli-2260787.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    overflow: hidden;

    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}
#cardprod5{
    background-image: url(./asset/pexels-cottonbro-studio-5739218.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    position: relative;
    border-radius: 20px;

    overflow: hidden;
    box-shadow: 0px 0px 1px 1px black ;
}  
#cardprod6{
    background-image: url(./asset/pexels-shvets-production-8007421.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    width: 20em;
    height: 30em;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}   

#cardprod7{
    background-image: url(./asset/pexels-matheus-wladeka-6501284.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    overflow: hidden;

    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}

#cardprod8{
    background-image: url(./asset/pexels-pavel-danilyuk-6203516.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    position: relative;
    overflow: hidden;

    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}
  
#cardprod9{
    background-image: url(./asset/pexels-jopwell-1325661.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    height: 30em;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 1px 1px black ;
}   
#cardprod10{
    background-image: url(./asset/pexels-cottonbro-studio-4973813.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    overflow: hidden;

    height: 30em;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}
#cardprod11{
    background-image: url(./asset/pexels-jim-de-ramos-1263348.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20em;
    overflow: hidden;

    height: 30em;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px black ;
}
.cardprod button{
    color: white;
    background-color: #000000 !important;
    position: relative !important;
    z-index: 99 !important;
}
.cardprod button:hover{
    background-color: #ff9800 !important;
    color: white;
}
.view-more{
    width: 10em !important;
    height: 3em !important;
    filter: drop-shadow(0px 010px 10px 0px black) !important;
    text-shadow: 0px 1px 0px 1px black !important;
}
.view-less{
    width: 10em !important;
    height: 3em !important;
    filter: drop-shadow(0px 0px 0px 0px black) !important;
}

#more-grids{
    display: none;
}
section{
    border-bottom: solid 2px gray;
}
/* grid of second section end */
/* about us section */
@media(max-width:1000px){
    .aboutcontent{
       text-align: center !important;
       margin: 0% auto !important;
       padding: 0% 2% !important;
       width: 20em !important;
    }
    .aboutimg{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;    
    }
}
@media(max-width:990px){
img{
    width: 300px;
}
}
.aboutcontent{
    height: fit-content;
    width: 25em;
    padding: 0% 2%;
}
/* contact us section */
#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
#contact h2{
    margin-bottom: 1em;
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: max-content;
}
input{
    width: 34em;
    margin-bottom: 1em !important;
    height: 3em;

}
label{
    width: 34em;
    text-align: left;
}
form button{
    width: 12em;
    height: 3em;
    align-self: center;
}

/* footer */
footer{
    width: 100%;
    height: 30vh;
}
table{
    width: 100%;
    text-align: center;
    height: 100%;
}
table a, th{
    font-weight: 200 !important;
}

@media(max-width:1000px){
    .aboutcontent{
       text-align: center !important;
    }
    .aboutimg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:980px) {
    #outerham{
        display: flex;
        position: relative;
        z-index: 999;
    }
    #cursor{
        display: none;
    }
    nav ul{
        display: none;
    }
    #resp{
        display: none;
        transition: right 0.5s ease;
        top: 9%;
        right: 1%;
        padding: 15% 0%;
        
    }
}
@media (max-width:690px) {
    .input-group{
        width: 100% !important;
    }
    #contact{
        padding: 0% 2%;
    }
    form{
        width: 100%;
    }
    input{
        width: 100% !important;
    }
    label{
        width:100%;
    }
}
@media (max-width:575px) {
    #hero{
        background-image: url(./yassine-khalfalli-6FLMugSqXhg-unsplash.jpg);
    }
}
@media (max-width:360px) {
    nav {
        padding: 1% 5% !important;
        width: 100% !important;
        margin: 0%;

    }
    .dropdown-menu{
        background-color: #000000 !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 20em !important;
    }
    #resp{
        display: none;
        transition: right 0.5s ease;
        top: 0%;
        right: 0%;
        width: 100% !important;
        text-align: center;
        border-radius: 9px;
        align-items: center;
        display: none;
        z-index: 3;
        align-content: center;
        margin: 0% auto;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        /* padding: 15% 0%; */
        
    }
    #hero{
        width: 100vw !important;
        align-items: center !important;
        text-align: center !important;
    }
    #hero::after{
        width: 100%;
    }
    #hero h1{
        font-size: 3.2rem !important;
        font-weight: 900 !important;

        color: #ff9800;
    }

    #logo{
        width: 7.5em !important;
        height: 3.5em !important;
    }
    
    body{
        width: 100% !important; 
        /* height: 100% !important; */

    }
    #scond-section{
        padding: 4% 1%;
    }
    .cardprod{
        width: 18em !important;
        
    }
    .aboutcontent{
        text-align: center !important;
        padding: 1% 4% !important;
     }
    }
    /* @media(max-width:320px){
        .input-group{
            margin-top: ;
        }
    } */
    @media(min-width:1024px){
        #outeham{
            display: none !important;
        }
        #resp{
            display: none !important;
        }
    }